.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: skyblue;
}

.grid-item{
    background-color: pink;
    border: 1px solid white;
    padding: 20px;
    margin: 20px;
}

.grid-container1{
    display: grid;
    grid-template-columns: 200px 150px 140px 140px;
    background-color: skyblue;
    margin-top: 10px;
}

.grid-temaplate{
    background-color: pink;
    border: 1px solid;

}

.grid-container1-rows{
    background-color: skyblue;
    grid-template-rows: 70px 150px 140px 140px;
    display: grid;
    margin-top: 20px;
}

.grid-Justifycontent{
    display: grid;
    justify-content: space-around;
    background-color: skyblue;
    margin-top: 20px;
}

.grid-aligncontent{
    display: grid;
    align-content: center;
    height: 400px;
    background-color: skyblue;
    margin-top: 20px;
}

.grid-aligncontent1{
    display: grid;
    align-content: space-evenly;
    height: 400px;
    background-color: skyblue;
    margin-top: 20px;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: skyblue;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
}

.container > div{
    background-color: pink;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.item1{
    grid-column: 1/5;
}